#root {
  max-width: 1280px;
  min-height: inherit;
  text-align: center;
}
html {
  min-height: 100vh;
  max-height: 100vh;
  /* min-width: 100vh;
  max-width: 100vh; */
}
body {
  min-height: inherit;
  max-height: inherit;
  /* min-width: inherit;
  max-width: inherit; */
}
h1,
h2,
h3,
p {
  margin: 0;
}
.work_space {
  display: flex;
  outline: 2px solid blue;
  min-height: inherit;
  max-height: inherit;
}
div.input-block {
  position: relative;
  margin: 0.7em 0;
}
div.input-block input {
  font-weight: 500;
  font-size: 1em;
  color: #495055;
  width: 100%;
  padding: 1rem 1.7rem;
  border-radius: 10px;
  border: 2px solid #d9d9d9;
  outline: none;
}
div.input-block span.placeholder {
  position: absolute;
  margin: 17px 0;
  padding: 0 4px;
  font-family: Roboto, sans-serif;
  color: #6c757d;
  display: flex;
  align-items: center;
  font-size: 1em;
  top: 0;
  left: 17px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}
div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
  background: #fff;
}
div.input-block input:focus {
  color: #284b63;
}
div.input-block input:focus + span.placeholder {
  color: #284b63;
}
.password_btn {
  color: white;
  background-color: #284b63;

  font-size: 1rem;
  padding: 0.7rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
  /* @include btn; */

  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
