.nav__bar {
  bottom: 0;
  left: 0;
  right: 0;
  // outline: 2px solid black;
  min-width: 19%;
  color: white;
  background-color: #121927;
  padding: 0 0.5em;
  height: inherit;
  border-radius: 10px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    //   background-color: #f1f1f1;
    height: 90%; /* Full height */

    display: flex;
    flex-direction: column;
    li {
      text-align: center;
      display: flex;
      justify-content: center;
      margin: 1em 0;
      a {
        display: flex;
        width: 100%;
        height: 2.5em;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        color: gray;
        span {
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }
  .active {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: white;
    // border: 1px solid rgba(255, 255, 255, 0.3);
  }

  a:hover {
    color: white;
  }
}
.not-loggedin {
  display: none;
}
li:last-child {
  border-bottom: none;
}
.account_link {
  // margin-top: calc(auto - 10em);
  margin-top: auto;
}
